/* Didot Regular */
@font-face {
  font-family: 'Didot';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Didot/Didot-Regular.eot');
  src: url('../fonts/Didot/Didot-Regular.eot?#iefix') format('embedded-opentype'),
       local('Didot'),
       local('Didot-Regular'),
       url('../fonts/Didot/Didot-Regular.woff2') format('woff2'),
       url('../fonts/Didot/Didot-Regular.woff') format('woff'),
       url('../fonts/Didot/Didot-Regular.ttf') format('truetype'),
       url('../fonts/Didot/Didot-Regular.svg#Didot') format('svg');
}

/* Didot Bold */
@font-face {
  font-family: 'Didot';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Didot/Didot-Bold.eot');
  src: url('../fonts/Didot/Didot-Bold.eot?#iefix') format('embedded-opentype'),
       local('Didot Bold'),
       local('Didot-Bold'),
       url('../fonts/Didot/Didot-Bold.woff2') format('woff2'),
       url('../fonts/Didot/Didot-Bold.woff') format('woff'),
       url('../fonts/Didot/Didot-Bold.ttf') format('truetype'),
       url('../fonts/Didot/Didot-Bold.svg#Didot') format('svg');
}

/* Avenir Next Regular */
@font-face {
  font-family: 'Avenir Next';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Avenir-Next/Avenir-Next-Regular.eot');
  src: url('../fonts/Avenir-Next/Avenir-Next-Regular.eot?#iefix') format('embedded-opentype'),
       local('Avenir Next'),
       local('Avenir-Next-Regular'),
       url('../fonts/Avenir-Next/Avenir-Next-Regular.woff2') format('woff2'),
       url('../fonts/Avenir-Next/Avenir-Next-Regular.woff') format('woff'),
       url('../fonts/Avenir-Next/Avenir-Next-Regular.ttf') format('truetype'),
       url('../fonts/Avenir-Next/Avenir-Next-Regular.svg#AvenirNext') format('svg');
}

/* Avenir Next Bold */
@font-face {
  font-family: 'Avenir Next';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Avenir-Next/Avenir-Next-Bold.eot');
  src: url('../fonts/Avenir-Next/Avenir-Next-Bold.eot?#iefix') format('embedded-opentype'),
       local('Avenir Next Bold'),
       local('Avenir-Next-Bold'),
       url('../fonts/Avenir-Next/Avenir-Next-Bold.woff2') format('woff2'),
       url('../fonts/Avenir-Next/Avenir-Next-Bold.woff') format('woff'),
       url('../fonts/Avenir-Next/Avenir-Next-Bold.ttf') format('truetype'),
       url('../fonts/Avenir-Next/Avenir-Next-Bold.svg#AvenirNext') format('svg');
}
