.profile-picture {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  border-radius: 50%;
  object-fit: cover;
  backdrop-filter: blur(6px);
}

.wrapper1 {
  max-width: 800px; /* Adjust the max-width to your preference */
  margin: 0 auto; /* This centers the wrapper horizontally */
  padding: 0 20px; /* Optional: Add padding to the sides for spacing */
}

.content-container {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

#about {
  font-size: 24px; /* Change this to your desired font size */
  font-weight: bold; /* Optional: change the font weight */
}

.social-icons {
    display: inline-block;
    width: 200px;
}
/*     width: 30px;  height: 30px;  margin-right: 10px; 
} */

/* styles.css */

/* Default (Light Mode) */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #191919;
  --text-color: #f3f4f6;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#theme-toggle {
  position: fixed;
  top: 25%; /* Adjust vertical position as needed */
  right: 1rem;
  z-index: 1000;
  padding: 0.25rem; /* Adjust padding to make button smaller */
  background-color: transparent; /* Make background transparent */
  border: none;
  cursor: pointer;
}

#theme-toggle img {
  width: 24px; /* Adjust icon size */
  height: 24px;
}

/* Optional: Add hover effect to indicate interaction */
#theme-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Example background color on hover */
}

.header {
    display: flex;
    justify-content: center;  /* Centers elements horizontally */
    align-items: center;  /* Aligns elements vertically (already present) */
}

.light-theme {
  color: #00000; /* Your desired color for light theme */
}

.light-theme .custom-link:hover {
    color: lightgray; /* Link color on hover */
}


.dark-theme {
  color: #3f4f6; /* Your desired color for dark theme */
}

/* Default light mode colors */

:root {
    --link-color: black; /* Default link color for light mode */
    --link-hover-color: darkgray; /* Default hover color for light mode */
}


/* Dark mode colors using prefers-color-scheme media query */
:root {
    --link-color-light: black;
    --link-color-dark: lightgray;
    --link-hover-light: red;
    --link-hover-dark: white;
}

/* Default styles for light mode */
a {
    color: var(--link-color-light);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover-light);
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    a {
        color: var(--link-color-dark);
    }
    a:hover {
        color: var(--link-hover-dark);
    }
}


body {
  padding: 50px; /* Adjust the padding around the body content */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px; /* Adjust the margins for heading elements */
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px; /* Adjust the margins for paragraph, list, table, code block, and definition list elements */
}

blockquote {
  margin: 0; /* Adjust the margins for blockquote elements */
}

footer {
  margin-top: 20px; /* Adjust the margin above the footer */
}
