<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    
<!--     {%- include head.html -%}
     -->
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            min-height: 100vh; /* Ensure full viewport height */
        }
        .wrapper1 {
            max-width: 600px; /* Adjust max-width as needed */
            text-align: center; /* Center content */
            padding: 20px; /* Add padding */
        }
        .custom-link {
            text-decoration: underline;
        }
        .light-theme {
            color: black;
            background-color: white;
        }
        .dark-theme {
            color: white;
            background-color: black;
        }
    </style>
</head>
<body class="light-theme" 
    style='margin-left: 500px !important;'>
    
    <div class="wrapper1">
      <header>
        <h1 class="{{ data-theme === 'light' ? 'light-theme' : 'dark-theme' }}">
          {{ site.title | default: site.github.repository_name }}
        </h1>

        {% if site.logo %}
        <button id="theme-toggle">
          <img src="toggle-icon.png" alt="Toggle Theme">
          <img src="{{ '/assets/img/light-mode.png' | relative_url }}" id="light-icon" style="display: none;" alt="Light Mode Icon">
          <img src="{{ '/assets/img/night-mode.png' | relative_url }}" id="dark-icon" alt="Dark Mode Icon">
        </button>
        <img src="{{site.logo | relative_url}}" alt="Logo" class="profile-picture" style="margin-top: 0px !important; margin-bottom: 8px !important;" />
        {% endif %}
<!--         <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p> -->

<!--         <p>{{ site.description | default: site.github.project_tagline }}</p>
 -->    
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/cspeterai/">
          <img id="light-linkedin" src="assets/img/linkedin-black.png" alt="LinkedIn profile" width="30" height="30" style="margin-right: 7.5px !important; margin-left: 0px !important;">
          <img id="dark-linkedin" src="assets/img/linkedin-white.png" alt="LinkedIn profile (dark mode)" width="30" height="30" style="margin-right: 7.5px !important; margin-left: 0px !important; display:none;">

          </a>
  
          <a href="mailto:cspeteai@outlook.com">
          <img id="light-email" src="assets/img/email_dark.png" alt="Email me" width="30" height="30" style="margin-right: 7.5px !important;">
          <img id="dark-email" src="assets/img/email_white.png" alt="Email me (dark mode)" width="30" height="30" style="margin-right: 7.5px !important; display:none;">
          </a>
  
          <a href="https://github.com/peterjps">
          <img id="light-github" src="assets/img/github-mark.png" alt="Github me" width="30" height="30" style="margin-right: 7.5px !important;">
          <img id="dark-github" src="assets/img/github-mark-white.png" alt="Github me (dark mode)" width="30" height="30" style="margin-right: 7.5px !important; margin-left: 0px !important; display: none;">
          </a>
  
          <a href="https://discordapp.com/users/@01_peter_">
          <img id="light-discord" src="assets/img/icon_clyde_black_RGB.png" alt="Discord me" width="30" height="30" style="margin-right: 0px !important;">
          <img id="dark-discord" src="assets/img/icon_clyde_white_RGB.png" alt="Discord me (dark mode)" width="30" height="30" style="margin-right: 0px !important;display:none;">
          </a>
          <div>
<!--         {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
 -->
<!--         {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %} -->
<!-- 
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %} -->
      </header>
      <section style="bottom: auto !important;
        margin-bottom: auto !important;
        margin-top: 270px !important;
        right: auto !important;
        margin-right: 300px !important;" 
      
      </section>
        <h1 id="about" class="{% if theme == 'light' %}light-theme{% else %}dark-theme{% endif %}">About</h1>
        <p>Hey there, I'm an adaptable project manager who's diving headfirst into the world of software engineering and machine learning. I've got a knack for optimizing processes and leading strategic initiatives, and I'm excited to bring my strong analytical skills to tech-driven environments. I'm all about continuous learning and can't wait to see where this journey takes me.</p>
        <h2 id="projects" class="{{ theme === 'light' ? 'light-theme' : 'dark-theme' }}">Portfolio</h2>
        <p> <a href="http://localhost:8502" class="custom-link"> • Mortgage Calculator Repayment Web App</a></p>
        <p> <a href="https://github.com/peterjps/Multi-AI-Agents" class="custom-link"> • Multi-AI Agent System - Financial Analysis </a></p>
        <p> <a href="https://peterjps.github.io/Peter.ai/" class="custom-link"> • Github WebPage </a></p>
      </section>
    

      </section>



      <footer>
<!--         {% if site.github.is_project_page %}
        <p>Copyright by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %} -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
        const toggleButton = document.getElementById('theme-toggle');
        const lightIcon = document.getElementById('light-icon');
        const darkIcon = document.getElementById('dark-icon');
        const lightIcons = [
            document.getElementById('light-linkedin'),
            document.getElementById('light-email'),
            document.getElementById('light-github'),
            document.getElementById('light-discord')
        ];
        const darkIcons = [
            document.getElementById('dark-linkedin'),
            document.getElementById('dark-email'),
            document.getElementById('dark-github'),
            document.getElementById('dark-discord')
        ];
        const headings = document.querySelectorAll('h1, h2');
        const links = document.querySelectorAll('.custom-link');

        function updateIcons(theme) {
            if (theme === 'light') {
                lightIcon.style.display = 'none';
                darkIcon.style.display = 'inline';
                lightIcons.forEach(icon => icon.style.display = 'inline');
                darkIcons.forEach(icon => icon.style.display = 'none');
                document.body.classList.remove('dark-theme');
                document.body.classList.add('light-theme');
                headings.forEach(heading => heading.classList.remove('dark-theme'));
                headings.forEach(heading => heading.classList.add('light-theme'));
                links.forEach(link => {
                    link.style.color = 'black';
                    link.addEventListener('mouseenter', () => link.style.color = 'darkgray');
                    link.addEventListener('mouseleave', () => link.style.color = 'black');
                });
            } else {
                lightIcon.style.display = 'inline';
                darkIcon.style.display = 'none';
                lightIcons.forEach(icon => icon.style.display = 'none');
                darkIcons.forEach(icon => icon.style.display = 'inline');
                document.body.classList.remove('light-theme');
                document.body.classList.add('dark-theme');
                headings.forEach(heading => heading.classList.remove('light-theme'));
                headings.forEach(heading => heading.classList.add('dark-theme'));
                links.forEach(link => {
                    link.style.color = 'lightgray';
                    link.addEventListener('mouseenter', () => link.style.color = 'white');
                    link.addEventListener('mouseleave', () => link.style.color = 'lightgray');
                });
            }
        }


      function getCurrentTheme() {
            return document.documentElement.getAttribute('data-theme');
        }

      function toggleTheme() {
            const currentTheme = getCurrentTheme();
            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', newTheme);
            document.body.className = newTheme === 'light' ? 'light-theme' : 'dark-theme';
            updateIcons(newTheme);
        }

        toggleButton.addEventListener('click', toggleTheme);

        // Set initial theme based on prefers-color-scheme
        const initialTheme = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', initialTheme);
        document.body.className = initialTheme === 'light' ? 'light-theme' : 'dark-theme';
        updateIcons(initialTheme);
    </script>
</body>
</html>



