<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .wrapper1 {
            max-width: 600px;
            text-align: center;
            padding: 20px;
        }
        .custom-link {
            text-decoration: underline;
        }
   
        #theme-toggle {
            position: fixed;
            top: 20px; /* Adjust top position as needed */
            right: 20px; /* Adjust right position as needed */
            z-index: 1000;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        #theme-toggle img {
            width: 24px;
            height: 24px;
        }
    </style>
</head>
<body class="light-theme">
    <div class="wrapper1">
        <header style="margin-bottom: 0; margin-top: -100px;">
            <h1 class="{{ data-theme === 'light' ? 'light-theme' : 'dark-theme' }}" style="margin-bottom: 35px;">
                {{ site.title | default: site.github.repository_name }}
            </h1>
            {% if site.logo %}
            <button id="theme-toggle">
                <img src="{{ '/assets/img/light-mode.png' | relative_url }}" id="light-icon" style="display: none;" alt="Light Mode Icon">
                <img src="{{ '/assets/img/night-mode.png' | relative_url }}" id="dark-icon" alt="Dark Mode Icon">
            </button>
            <img src="{{ site.logo | relative_url }}" alt="Logo" class="profile-picture" style="margin-top: 0; margin-bottom: 8px;">
            {% endif %}
            <div class="social-icons" style="width: 560px; height: 30px;">
                <a href="https://www.linkedin.com/in/cspeterai/">
                    <img id="light-linkedin" src="assets/img/linkedin-black.png" alt="LinkedIn profile" width="30" height="30" style="margin-right: 7.5px;">
                    <img id="dark-linkedin" src="assets/img/linkedin-white.png" alt="LinkedIn profile (dark mode)" width="30" height="30" style="margin-right: 7.5px; display: none;">
                </a>
                <a href="mailto:cspeteai@outlook.com">
                    <img id="light-email" src="assets/img/email_dark.png" alt="Email me" width="30" height="30" style="margin-right: 7.5px;">
                    <img id="dark-email" src="assets/img/email_white.png" alt="Email me (dark mode)" width="30" height="30" style="margin-right: 7.5px; display: none;">
                </a>
                <a href="https://github.com/peterjps">
                    <img id="light-github" src="assets/img/github-mark.png" alt="Github me" width="30" height="30" style="margin-right: 7.5px;">
                    <img id="dark-github" src="assets/img/github-mark-white.png" alt="Github me (dark mode)" width="30" height="30" style="margin-right: 7.5px; display: none;">
                </a>
                <a href="https://discordapp.com/users/@01_peter_">
                    <img id="light-discord" src="assets/img/icon_clyde_black_RGB.png" alt="Discord me" width="30" height="30" style="margin-right: 0;">
                    <img id="dark-discord" src="assets/img/icon_clyde_white_RGB.png" alt="Discord me (dark mode)" width="30" height="30" style="margin-right: 0; display: none;">
                </a>
            </div>
        </header>
        <section style="margin-bottom: auto; margin-top: 0;">
            <h1 id="about" class="{% if theme == 'light' %}light-theme{% else %}dark-theme{% endif %}" style="margin-left: 240px; margin-bottom: 30px;">About</h1>
            <p>Hi there! I’m an adaptable project manager turned software engineer with a focus on iOS development and machine learning. With a strong background in optimizing processes and leading strategic initiatives, I’m passionate about leveraging my analytical skills and embracing continuous learning in the tech world. Excited to explore new opportunities and see where this journey takes me!</p>
            <h2 id="projects" class="{{ theme === 'light' ? 'light-theme' : 'dark-theme' }}" style="margin-left: 230px; margin-bottom: 30px;">Portfolio</h2>
            <p><a href="http://localhost:8502" class="custom-link">• Mortgage Calculator Repayment Web App</a></p>
            <p><a href="https://github.com/peterjps/Multi-AI-Agents" class="custom-link">• Multi-AI Agent System - Financial Analysis</a></p>
            <p><a href="https://peterjps.github.io/Peter.ai/" class="custom-link">• Personal Website </a></p>
            <p><a href="http://localhost:3000" class="custom-link">• QuantumFund Web App</a></p>
        </section>
        <footer>
            <!-- Your footer content here -->
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
        const toggleButton = document.getElementById('theme-toggle');
        const lightIcon = document.getElementById('light-icon');
        const darkIcon = document.getElementById('dark-icon');
        const lightIcons = [
            document.getElementById('light-linkedin'),
            document.getElementById('light-email'),
            document.getElementById('light-github'),
            document.getElementById('light-discord')
        ];
        const darkIcons = [
            document.getElementById('dark-linkedin'),
            document.getElementById('dark-email'),
            document.getElementById('dark-github'),
            document.getElementById('dark-discord')
        ];
        const headings = document.querySelectorAll('h1, h2');
        const links = document.querySelectorAll('.custom-link');

        function updateIcons(theme) {
            if (theme === 'light') {
                lightIcon.style.display = 'none';
                darkIcon.style.display = 'inline';
                lightIcons.forEach(icon => icon.style.display = 'inline');
                darkIcons.forEach(icon => icon.style.display = 'none');
                document.body.classList.remove('dark-theme');
                document.body.classList.add('light-theme');
                headings.forEach(heading => heading.classList.remove('dark-theme'));
                headings.forEach(heading => heading.classList.add('light-theme'));
                links.forEach(link => {
                    link.style.color = 'black';
                    link.addEventListener('mouseenter', () => link.style.color = 'darkgray');
                    link.addEventListener('mouseleave', () => link.style.color = 'black');
                });
            } else {
                lightIcon.style.display = 'inline';
                darkIcon.style.display = 'none';
                lightIcons.forEach(icon => icon.style.display = 'none');
                darkIcons.forEach(icon => icon.style.display = 'inline');
                document.body.classList.remove('light-theme');
                document.body.classList.add('dark-theme');
                headings.forEach(heading => heading.classList.remove('light-theme'));
                headings.forEach(heading => heading.classList.add('dark-theme'));
                links.forEach(link => {
                    link.style.color = 'lightgray';
                    link.addEventListener('mouseenter', () => link.style.color = 'white');
                    link.addEventListener('mouseleave', () => link.style.color = 'lightgray');
                });
            }
        }

        function getCurrentTheme() {
            return document.documentElement.getAttribute('data-theme');
        }

        function toggleTheme() {
            const currentTheme = getCurrentTheme();
            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', newTheme);
            document.body.className = newTheme === 'light' ? 'light-theme' : 'dark-theme';
            updateIcons(newTheme);
        }

        toggleButton.addEventListener('click', toggleTheme);

        // Set initial theme based on prefers-color-scheme
        const initialTheme = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', initialTheme);
        document.body.className = initialTheme === 'light' ? 'light-theme' : 'dark-theme';
        updateIcons(initialTheme);
    </script>
</body>
</html>



